<div class="card">
  <div class="container">
    <div class="card-header" *ngIf="livres.length > 0"> {{titre}} </div>
    <div class="row row-spacer">
      <div class="col-2">
        <button class="btn btn-primary" (click)="onclick()"> {{ affichage ? 'Cacher' : 'Afficher' }} </button>
      </div>
    </div>

  <div class="row row-spacer">
    <div class="col-4">
      <select class="btn btn-primary" [(ngModel)]="categorieId" (change)="ChangeCategory()">
        <option value="all">Catégories</option>
        <option *ngFor="let categorie of listeCategorie" [value]="categorie"> {{categorie}} </option>
      </select>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="affichage">
        <thead>
          <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Catégory</th>
            <th>Prix</th>
            <th>Etoile</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livre of livres">
            <td><img [src]="livre.ImageUrl" [width]="width" [height]="height"></td>
        <!--<td><img src="{{livre.ImageUrl}}"></td>-->
            <td> {{livre.Name }} </td>
            <td> {{livre.ShortDescription}} </td>
            <td> {{livre.Category}} </td>
            <td> {{livre.Price | currency : 'EUR' : true}} </td>
            <td><app-etoile [rate]="livre.Etoile" (notify)="onNotify($event)"></app-etoile></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</div>

